.app{
    display: grid;
    place-items: center;
    background-image: url("lake.jpg");
    background-size:cover;
    height: 100vh;
}

.login{
    display: flex;
    background-color: white;
    box-shadow: -1px 4px 20px -6px black;
}

.login > form{
    padding: 20px;
    background-color: white;
    box-shadow: -1px 4px 20px -6px black;
}

.linkFont {
    color: blue;
    cursor: pointer;
}

/*.user_app{
    display: flex;
    background-color: #ededed;
    width: 100%;
    height: 100vh;
    max-width: 1450px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    position: relative;
    z-index: 100;
    overflow: hidden;
}*/
.user_app{
    display: flex;
    background-color: antiquewhite;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px black;
}

.contacts_bar{
    flex: 0.3;
    flex-direction: column;
    display: flex;
    background-color: white;
}

.user_bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
    align-items: center;
    min-width: 10vw;
    height: 70px;
}

.chats_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.chat__contact-wrapper {
    flex: 1;
}




.list-group-item {
    background-color: transparent;
}

.head-bar {
    border: 0;
}

#add_contact {
    font-size: larger;
    border: 0ch;
    background-color: transparent;
}

#add_contact:hover {
    cursor: pointer;
}

.proph_imgs {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.chat_list_item {
    background-color: transparent;
    height: 80px;
    /*    padding-right: 8px; */
}

.chat_list_item:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.name_in_chat_list {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hour_and_time {
    padding-right: 0%;
    padding-left: 0%;
    text-align: right;
    width: 15%;
    font-size: smaller;
    white-space: pre-line;
    overflow: hidden;
}

.message_preview {
    padding-right: 0%;
    white-space: nowrap;
    overflow: hidden;
}

.chat-box {
    background-color: antiquewhite;
}

#add_file {
    font-size: larger;
    border: 0ch;
    background-color: transparent;
}

#add_file:hover {
    cursor: pointer;
}

.sidebar {
    min-width: 300px;
    border-right: 1px solid #DADADA;
    display: flex;
    flex-direction: column;
}

.chat__contact-wrapper {
    flex: 1;
}

.chat__contact-name, .chat__contact-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__contact-name {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 2px;
    padding-left: 0.5vw;
}

.chat__contact-name, .chat__contact-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__contact-name {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 2px;
    padding-left: 1vw;
}

.sidebar__search-wrapper {
    padding: 7px 10px;
    height: 50px;
    background: #F6F6F6;
    position: relative;
}

.limit_column_height {
    height: 90vh;
}
