.contacts_bar{
    flex: 0.3;
    flex-direction: column;
    display: flex;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user_bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
    align-items: center;
    min-width: 10vw;
    height: 70px;
}

.chats_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.chat__contact-wrapper {
    flex: 1;
}




.list-group-item {
    background-color: transparent;
}

.head-bar {
    border: 0;
}

#add_contact {
    font-size: larger;
    border: 0ch;
    background-color: transparent;
}

#add_contact:hover {
    cursor: pointer;
}

.chat_list_item {
    background-color: transparent;
    height: 80px;
    /*    padding-right: 8px; */
}

.chat_list_item:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.name_in_chat_list {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hour_and_time {
    padding-right: 0%;
    padding-left: 0%;
    text-align: right;
    width: 15%;
    font-size: smaller;
    white-space: pre-line;
    overflow: hidden;
}

.message_preview {
    padding-right: 0%;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar {
    min-width: 300px;
    border-right: 1px solid #DADADA;
    display: flex;
    flex-direction: column;  
}

.contects_list {
    overflow-y: scroll;
    overflow-x: hidden;
}